* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: 0;

    --bg-color : #3e3e3e;
    --color: aliceblue;
}

body{
    background: var(--bg-color);
    color: var(--color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 250px;

}
#container {
    text-align: center;
    
}
#container h1 {
    font-size: 40px;
    text-decoration: dotted;
    text-shadow: 3px 5px 2px #474747;
}
/* #container #form {
    display: block;
} */
#container #form input[type="text"] {
    width: 400px;
    height: 35px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 0.8rem;
}
#container #form .btns button{
    padding: 10px;
    font-size: 20px;
    border-radius: 0.8rem;
    margin-top: 20px;
    cursor: pointer; 
}


#container #form .btns #check-btn {
    /* background: rgb(23, 200, 23); */
/*     
background: #30CE08;
background: -moz-linear-gradient(top, #30CE08 0%, #98C595 0%, #35A429 100%);
background: -webkit-linear-gradient(top, #30CE08 0%, #98C595 0%, #35A429 100%);
background: linear-gradient(to bottom, #30CE08 0%, #98C595 0%, #35A429 100%); */
background: #92E094;
background: -moz-linear-gradient(top, #92E094 0%, #00D423 57%, #56BF4B 100%);
background: -webkit-linear-gradient(top, #92E094 0%, #00D423 57%, #56BF4B 100%);
background: linear-gradient(to bottom, #92E094 0%, #00D423 57%, #56BF4B 100%);
transition: all 300ms ease-in;
}
#container #form .btns #clear-btn {
    background: #D6BC18;
background: -moz-linear-gradient(top, #D6BC18 0%, #FFFF85 100%, #FFDE38 100%);
background: -webkit-linear-gradient(top, #D6BC18 0%, #FFFF85 100%, #FFDE38 100%);
background: linear-gradient(to bottom, #D6BC18 0%, #FFFF85 100%, #FFDE38 100%);
transition: all 300ms ease-in;
}

#container #form .btns #check-btn:hover,
#container #form .btns #clear-btn:hover {
    background: #000;
}

 /* //TODO : change the bg color of the btns
    //ToDo : change the bg of btns upon hover
    //ToDo : add box shadow to the form
    //ToDo : change the bg color of body
    //ToDo : do the style of the result div
 */