* {
    /* padding: 0; */
    /* margin: 0; */
    box-sizing: 0;

    /* --bg-color : #3e3e3e; */
    --bg-color: #404E4D;
    --color: #EBF5EE;
}

body {
    background: var(--bg-color);
    color: var(--color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 250px;

}

#container {
    text-align: center;

}

#container h1 {
    font-size: 40px;
    text-decoration: dotted;
    text-shadow: 3px 5px 2px #474747;
}

#container  input[type="text"] {
    width: 400px;
    height: 35px;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 0.8rem;
    background: #BFD1E5;
}

#container .btns button {
    padding: 10px;
    font-size: 20px;
    border-radius: 0.8rem;
    margin-top: 20px;
    cursor: pointer;
}


#container .btns #check-btn {
    background: #e0bda1;
    transition: all 250ms ease-in;
}

#container .btns #clear-btn {
    background: #DDA15E;
    transition: all 250ms ease-in;
}

#container .btns #check-btn:hover,
#container .btns #clear-btn:hover {
    background: #EC9A29;
}

#results-div,
.results-div {
    margin-top: 20px;
    text-shadow: 3px 5px 2px #4f4e4e;
    font-weight: 500;
    font-size: larger;

}
